<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>MyJobsServlet</servlet-name>
        <servlet-class>controller.MyJobsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MyJobsServlet</servlet-name>
        <url-pattern>/MyJobsServlet</url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>CandidateViewListServlet</servlet-name>
        <servlet-class>controller.CandidateViewListServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CandidateViewListServlet</servlet-name>
        <url-pattern>/CandidateViewListServlet</url-pattern>
        <url-pattern>/candidate-view-list</url-pattern>
    </servlet-mapping>
    
<!--    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>-->

    <!-- Các servlet khác nếu có -->
   
    <servlet>
        <servlet-name>UploadCVforjobdetailServlet</servlet-name>
        <servlet-class>controller.UploadCVforjobdetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanySearchSuggestionServlet</servlet-name>
        <servlet-class>controller.CompanySearchSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobSkillSuggestionServlet</servlet-name>
        <servlet-class>controller.JobSkillSuggestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadCVServlet</servlet-name>
        <servlet-class>controller.DownloadCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadSystemCVServlet</servlet-name>
        <servlet-class>controller.DownloadSystemCVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNewCVServlet</servlet-name>
        <url-pattern>/CreateNewCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSystemCVServlet</servlet-name>
        <url-pattern>/DeleteSystemCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSystemCVServlet</servlet-name>
        <url-pattern>/EditSystemCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSystemCVServlet</servlet-name>
        <url-pattern>/UpdateSystemCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCVforjobdetailServlet</servlet-name>
        <url-pattern>/UploadCVforjobdetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanySearchSuggestionServlet</servlet-name>
        <url-pattern>/CompanySearchSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobSkillSuggestionServlet</servlet-name>
        <url-pattern>/JobSkillSuggestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadCVServlet</servlet-name>
        <url-pattern>/DownloadCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadSystemCVServlet</servlet-name>
        <url-pattern>/DownloadSystemCVServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SearchandView</servlet-name>
        <servlet-class>controller.SearchandView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCVServlet</servlet-name>
        <servlet-class>controller.CreateNewCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSystemCVServlet</servlet-name>
        <servlet-class>controller.DeleteSystemCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSystemCVServlet</servlet-name>
        <servlet-class>controller.EditSystemCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSystemCVServlet</servlet-name>
        <servlet-class>controller.UpdateSystemCVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchandView</servlet-name>
        <url-pattern>/SearchandView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JobDetail</servlet-name>
        <servlet-class>controller.JobDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobDetail</servlet-name>
        <url-pattern>/JobDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveJobServlet</servlet-name>
        <servlet-class>controller.SaveJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveJobServlet</servlet-name>
        <url-pattern>/SaveJobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchCompaniesServlet</servlet-name>
        <servlet-class>controller.SearchCompaniesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCompaniesServlet</servlet-name>
        <url-pattern>/SearchCompaniesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyDetailServlet</servlet-name>
        <servlet-class>controller.CompanyDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyDetailServlet</servlet-name>
        <url-pattern>/CompanyDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FavouriteCompanyServlet</servlet-name>
        <servlet-class>controller.FavouriteCompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FavouriteCompanyServlet</servlet-name>
        <url-pattern>/FavouriteCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AppliedJobsServlet</servlet-name>
        <servlet-class>controller.AppliedJobsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppliedJobsServlet</servlet-name>
        <url-pattern>/AppliedJobsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteApplicationServlet</servlet-name>
        <servlet-class>controller.DeleteApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteApplicationServlet</servlet-name>
        <url-pattern>/DeleteApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShortlistJobServlet</servlet-name>
        <servlet-class>controller.ShortlistJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShortlistJobServlet</servlet-name>
        <url-pattern>/ShortlistJobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnfollowCompanyServlet</servlet-name>
        <servlet-class>controller.UnfollowCompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnfollowCompanyServlet</servlet-name>
        <url-pattern>/UnfollowCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCVServlet</servlet-name>
        <servlet-class>controller.DeleteCVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCVServlet</servlet-name>
        <url-pattern>/DeleteCVServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBookmarkServlet</servlet-name>
        <servlet-class>controller.DeleteBookmarkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBookmarkServlet</servlet-name>
        <url-pattern>/DeleteBookmarkServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SystemFeedbackServlet</servlet-name>
        <servlet-class>controller.SystemFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemFeedbackServlet</servlet-name>
        <url-pattern>/SystemFeedbackServlet</url-pattern>
    </servlet-mapping>
</web-app>

