<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UploadCVforjobdetailServlet</servlet-name>
        <servlet-class>controller.UploadCVforjobdetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNewCVServlet</servlet-name>
        <url-pattern>/CreateNewCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSystemCVServlet</servlet-name>
        <url-pattern>/DeleteSystemCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSystemCVServlet</servlet-name>
        <url-pattern>/EditSystemCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSystemCVServlet</servlet-name>
        <url-pattern>/UpdateSystemCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCVforjobdetailServlet</servlet-name>
        <url-pattern>/UploadCVforjobdetailServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SearchandView</servlet-name>
        <servlet-class>controller.SearchandView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCVServlet</servlet-name>
        <servlet-class>controller.CreateNewCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSystemCVServlet</servlet-name>
        <servlet-class>controller.DeleteSystemCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSystemCVServlet</servlet-name>
        <servlet-class>controller.EditSystemCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSystemCVServlet</servlet-name>
        <servlet-class>controller.UpdateSystemCVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchandView</servlet-name>
        <url-pattern>/SearchandView</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JobDetail</servlet-name>
        <servlet-class>controller.JobDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobDetail</servlet-name>
        <url-pattern>/JobDetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveJobServlet</servlet-name>
        <servlet-class>controller.SaveJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveJobServlet</servlet-name>
        <url-pattern>/SaveJobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchCompaniesServlet</servlet-name>
        <servlet-class>controller.SearchCompaniesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCompaniesServlet</servlet-name>
        <url-pattern>/SearchCompaniesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyDetailServlet</servlet-name>
        <servlet-class>controller.CompanyDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyDetailServlet</servlet-name>
        <url-pattern>/CompanyDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FavouriteCompanyServlet</servlet-name>
        <servlet-class>controller.FavouriteCompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FavouriteCompanyServlet</servlet-name>
        <url-pattern>/FavouriteCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AppliedJobsServlet</servlet-name>
        <servlet-class>controller.AppliedJobsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppliedJobsServlet</servlet-name>
        <url-pattern>/AppliedJobsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteApplicationServlet</servlet-name>
        <servlet-class>controller.DeleteApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteApplicationServlet</servlet-name>
        <url-pattern>/DeleteApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShortlistJobServlet</servlet-name>
        <servlet-class>controller.ShortlistJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShortlistJobServlet</servlet-name>
        <url-pattern>/ShortlistJobServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnfollowCompanyServlet</servlet-name>
        <servlet-class>controller.UnfollowCompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnfollowCompanyServlet</servlet-name>
        <url-pattern>/UnfollowCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCVServlet</servlet-name>
        <servlet-class>controller.DeleteCVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCVServlet</servlet-name>
        <url-pattern>/DeleteCVServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteBookmarkServlet</servlet-name>
        <servlet-class>controller.DeleteBookmarkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBookmarkServlet</servlet-name>
        <url-pattern>/DeleteBookmarkServlet</url-pattern>
    </servlet-mapping>
</web-app>
